body {
  font-family: verdana;
  background-color: rgba(211, 211, 211, 0.366);
}

#Top{text-align: center; border-bottom: 4px solid black; margin: -5px -50px;}

#location, #phone, #email{margin-top: -10px;}

.box {width: 1200px; margin: auto;}

h2{color: darkcyan;}

.list{margin-bottom: 10px;}